@import "tailwindcss";


:root {
  --gridColor: #5e70d21e;
  --background: #18181b;
  /* --secondary: #2f2f34; */
  --secondary: #2c2c3075;
  
}
@theme {
  --color-secondary: #2c2c3075;
}
.bgcolor{
  background-color: var(--background);
}
.background {
  background-color: #18181b;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--gridColor) 1px,
    transparent 1px
  ),
  linear-gradient(
    to bottom,
    var(--gridColor) 1px,
    transparent 1px
  );
  background-size: 50px 50px;
  z-index: -1; /* Push it behind the content */
}

nextjs-portal{
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scroll{
  display: flex;
  padding-block: 8px;
  overflow: hidden;
  user-select: none;
  gap: 5px;
}

.scroll ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;

  animation: scroll 20s linear infinite;
}

.scroll:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 10px));
  }
}